@using StFrancisChurch.Models.Utility
@{
                /**/

                ViewBag.Title = "Home Page";
                var returns = (ReturnData)ViewBag.returns;
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Baptism Register
        <div class="btn-group" style="float: right; margin-top: 5px; margin-right: 10px;">
            <a class="btn btn-success" href="@Href("~/Sacrament/CreateBaptism")" title="Click to create a new baptismal record"><i class="fa fa-plus" style="margin:0px;"></i> New Record</a>
        </div>
        <div>
            @if (returns.HasValue)
            {
                <b class="text-info">@returns.Message</b>
            }
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="membersTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Baptismal Name</th>
                        <th>Surname</th>
                        <th>Othername</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>S/N</th>
                        <th>Baptismal Name</th>
                        <th>Surname</th>
                        <th>Othername</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<!--Link Sacrament to member -->
<!-- This modal allows for searching of a member and displaying of the selected memner photo and details-->
<div class="modal" id="linkModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Link Member to Baptismal Record</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <!--Todo Search for onlu registered members-->
                Under Construction...
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                @*<button type="button" class="btn btn-danger">Update</button>*@
            </div>

        </div>
    </div>
</div>
@section scripts{

    <script>
        $(document).ready(function () {
            $('#membersTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))/Sacrament/GetBaptisedMembers/",
                    type: "POST",
                    dataSrc: "data"
                },
                "columns": [
                    { "data": "Serial" },
                    { "data": "BaptismName" },
                    { "data": "Surname" },
                    { "data": "Othername" },
                    { "data": "BaptismDate" },
                    {
                        "data": "Action",
                        "render": function (data, type, full, meta) {
                            return '<a href="@Href("~/Sacrament/ViewSacrament/")' + full.Id + '?type=1&method=view" class="btn btn-primary" title="View this Baptismal Record"><i class="fas fa-fw fa-eye"></i></a>&nbsp;' +
                                '<a href="@Href("~/Sacrament/EditBaptism/")'+ full.Id + '" class="btn btn-primary" title="Edit this Baptismal Record"><i class="fas fa-fw fa-edit"></i></a>&nbsp;' +
                                '<a  href="#linkModal" id="linkModalAction" class="btn btn-primary" data-toggle="modal" data-target="#linkModal" data-id="' + full.Id +'" title="Link  baptismal record to a registered member"><i class="fas fa-fw fa-link"></i></a>';
                        }
                    }
                ]
            });
        });

        $(document).on("click", "#linkModalAction", function () {
            var myId = $(this).data('id');
            
            @*$.ajax({
                url: "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))/User/GetUserEvaluationLink/" + myId,
                context: document.body
            }).done(function (returnVal) {
                var value = JSON.parse(returnVal);
                $("#UserId").val(value.User);
                $("#EvaluationIdEdit").val(value.Evaluation);
                $("#EvaluationEdit").val(value.Evaluation);
                $("#EvaluationIdEdit").attr("disabled", true);
                var htmlBody = `<label><input type="checkbox" name="CanReadEdit" ${value.CanRead === 1 ? "checked":"" } />&nbsp;User Can Read</label><br/>
                                <label><input type="checkbox" name="CanWriteEdit" ${value.CanWrite === 1 ? "checked" : ""} />&nbsp;User Can Write</label><br/>
                                <label><input type="checkbox" name="CanViewReportEdit" ${value.CanViewReport === 1 ? "checked" : ""} />&nbsp;User Can ViewReport</label>`;
                $("#editFormBody").html(htmlBody);
                $("#RoleIdEdit").val(value.Role);
                $("#CanReadEdit").attr(value.CanWrite === 1 ? "checked" : "");
                $("#selected_eval_name").text(value.EvaluationName);
            });*@
        });
    </script>
}