@using StFrancisChurch.Models
@using StFrancisChurch.Utility
@model MemberRegistrationViewModel
@{
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Create Member
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Create", "Members", FormMethod.Post, new { @role = "form", @enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true, "", new { @style = "color :red" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="Surname" class="form-control" placeholder="Enter your Surname">
                        @Html.ValidationMessageFor(m => m.Surname, "", new { @style = "color:red" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="Firstname" class="form-control" placeholder="Enter your Firstname">
                        @Html.ValidationMessageFor(m => m.Surname, "", new { @style = "color:red" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="Othername" class="form-control" placeholder="Enter your Othername">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.DropDownList("Gender", new SelectList(ViewUtility.GetGender(), "Id", "Name", null), "Select Gender", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Gender, "", new { @style = "color:red" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="HomeParish" class="form-control" placeholder="Enter your Home Parish">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="Town" class="form-control" placeholder="Enter your Town or Village">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="Nationality" class="form-control" placeholder="Enter your Nationality">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="EmailAddress" class="form-control" placeholder="Enter your Email address">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="Phone" class="form-control" placeholder="Enter your Phone">
                        @Html.ValidationMessageFor(m => m.Phone, "", new { @style = "color:red" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="Phone2" class="form-control" placeholder="Enter another Phone if any">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="EmpolymentAddress" class="form-control" placeholder="Present Employment Address">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.DropDownList("MaritalStatus", new SelectList(ViewUtility.GetMaritalStatus(), "Id", "Name", null), "Select Marital Status", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="NextOfKin" class="form-control" placeholder="Enter Fullname of next of kin">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.DropDownList("NextOfKinMaritalStatus", new SelectList(ViewUtility.GetMaritalStatus(), "Id", "Name", null), "Select Kin Marital Status", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="NextOfKinAddress" class="form-control" placeholder="Enter Next of kin address">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="SpouseName" class="form-control" placeholder="Enter Fullname of spouse if married">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="SpousePhone1" class="form-control" placeholder="Enter spouse phone number">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="SpousePhone2" class="form-control" placeholder="Enter another spouse phone if any">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="number" name="SizeOfFamilyMale" class="form-control" placeholder="Enter Size of family (Male)">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="number" name="SizeOfFamilyFemale" class="form-control" placeholder="Enter Size of family (Female)">
                    </div>
                </div>
                @*<div class="col-md-6">
                        <label>Sacraments Received</label>
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="" />Baptism
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="" />Confirmation
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="" />Matrimony
                            </label>
                        </div>
                    </div>*@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.DropDownList("StatutoryGroup", new SelectList(ViewUtility.GetStatutoryBody(), "Id", "Name", null), "Select statutory body", new { @class = "form-control" })
                    </div>
                </div>
                <div class="row col-md-6">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="file" name="Pasport" id="filePassport" accept="image/*" class="form-control" placeholder="Choose Passport">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img id="blah" src="#" alt="Preview" width="150" height="150" />
                    </div>
                </div>
                <div class="col-md-12 col-md-push-8">
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-primary btn-modify">
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
@section scripts{

    <script>
        $(document).ready(function () {

        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#filePassport").change(function () {
            readURL(this);
        });
    </script>
}