@using StFrancisChurch.Models
@using StFrancisChurch.Utility
@model MemberRegistrationViewModel
@{

}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Parish Members Detail - Edit
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Edit", "Members", FormMethod.Post, new { @role = "form", @class= "form-horizontal", @enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true, "", new { @style = "color :red" })
            <input type="hidden" name="Id" value="@Model.Id"/>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right" for="Surname">Surname</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="Surname" value="@Model.Surname" placeholder="Enter Surname">
                            @Html.ValidationMessageFor(m => m.Surname, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right" for="Firstname">Firstname</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="Firstname" value="@Model.Firstname" placeholder="Enter Firstname">
                            @Html.ValidationMessageFor(m => m.Firstname, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right" for="Othername">Othername</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="Othername" value="@Model.Othername" placeholder="Enter Othername">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right" for="Gender">Gender</label>
                        <div class="col-md-8">
                            @Html.DropDownList("Gender", new SelectList(ViewUtility.GetGender(), "Id", "Name", null), "Select Gender", new { @class = "form-control" })                            
                        </div>
                        @Html.ValidationMessageFor(m => m.Gender, "", new { @style = "color:red" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right">Home Parish</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="HomeParish" value="@Model.HomeParish" placeholder="Enter Home Parish">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right">Town/Village</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="Town" value="@Model.Town" placeholder="Enter Town or Village">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right">Nationality</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="Nationality" value="@Model.Nationality" placeholder="Enter Nationality">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right">Email address</label>
                        <div class="col-md-8">
                            <input type="email" class="form-control" name="EmailAddress" value="@Model.EmailAddress" placeholder="Enter email address">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right">Phone number</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="Phone" value="@Model.Phone" placeholder="Enter phone number">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right">2<sup>nd</sup> Phone number</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="Phone2" value="@Model.Phone2" placeholder="Enter another phone if any">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right">Employment address</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="EmpolymentAddress" value="@Model.EmploymentAddress" placeholder="Present Employment Address">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right" for="MaritalStatus">Marital Status</label>
                        <div class="col-md-8">
                            @Html.DropDownList("MaritalStatus", new SelectList(ViewUtility.GetMaritalStatus(), "Id", "Name", null), "Select Marital Status", new { @class = "form-control" })          
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right">Next of kin</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="NextOfKin" value="@Model.NextOfKin" placeholder="Enter Fullname of next of kin">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right" for="MaritalStatus">Next of kin Marital Status</label>
                        <div class="col-md-8">
                            @Html.DropDownList("NextOfKinMaritalStatus", new SelectList(ViewUtility.GetMaritalStatus(), "Id", "Name", null), "Select Kin Marital Status", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right">Next of kin address</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="NextOfKinAddress" value="@Model.NextOfKinAddress" placeholder="Enter Next of kin address">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right">Spouse name</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="" value="@Model.SpouseName" placeholder="Enter Fullname of spouse if married">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right">Spouse phone</label>
                        <div class="col-md-8">
                            <input type="tel" class="form-control" name="SpousePhone1" value="@Model.SpousePhone1" placeholder="Enter spouse phone number">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right">Spouse 2<sup>nd</sup> Phone</label>
                        <div class="col-md-8">
                            <input type="tel" class="form-control" name="SpousePhone2" value="@Model.SpousePhone2" placeholder="Enter another spouse phone if any">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right">Male Size of family</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="SizeOfFamilyMale" value="@Model.SizeOfFamilyMale" placeholder="Enter Size of family (Male)">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right">Female size of family</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="SizeOfFamilyFemale" value="@Model.SizeOfFamilyFemale" placeholder="Enter Size of family (Female)">
                        </div>
                    </div>
                </div>
                @*<div class="col-md-6">
                        <label>Sacraments Received</label>
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="" />Baptism
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="" />Confirmation
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="" />Matrimony
                            </label>
                        </div>
                    </div>*@
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right">Statutory group</label>
                        <div class="col-md-8">
                            @Html.DropDownList("StatutoryGroup", new SelectList(ViewUtility.GetStatutoryBody(), "Id", "Name", null), "Select statutory body", new { @class = "form-control" })                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-1"></div>
                        <div class="col-md-6">
                            <input type="file" name="Pasport" id="filePassport" accept="image/*" class="form-control" placeholder="Choose Passport">
                        </div>
                        <div class="col-md-5">
                            <img id="blah" src="@Model.PassportUrl" alt="Preview" width="160" height="150"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-md-push-8">
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary btn-modify">
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
@section scripts{

    <script>
        $(document).ready(function () {

        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#filePassport").change(function () {
            readURL(this);
        });
    </script>
}