@using StFrancisChurch.Models.Utility
@using StFrancisChurch.Utility
@{
    var member = (MemberTableModel)ViewBag.member;
}

@*<div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Parish Members Detail
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>*@

<div class="row col-12">
    <div class="row col-10 frame">
        <div class="col-1"></div>
        <div class="col-10">
            <img src="~/Content/images/st_francis.jpg" width="80" height="100" id="st_francis_logo" alt="St Francis Logo" />
            <div id="header_center">
                <h4>CATHOLIC ARCHDIOSES OF ABUJA</h4>
                <H3>ST FRANCIS OF ASISI PARISH BAGUSA DEI-DEI</H3>
                <img src="@member.PassportUrl" width="120" height="120" id="member_passport" />
                <b>email: St.francisbagusa@gmail.com</b>
                <h2>PARISH REGISTRATION FORM</h2>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-borderless" style="/*width:80% !important*/" align="center" cellspacing="0">
                    <tbody id="form_body">
                        <tr>
                            <td>
                                Surname
                            </td>
                            <td>
                                @member.Surname
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Firstname
                            </td>
                            <td>
                                @member.Firstname
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Othername
                            </td>
                            <td>
                                @member.Othername
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Phone
                            </td>
                            <td>
                                @member.Phone
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Second Phone
                            </td>
                            <td>
                                @member.Phone2
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Date Registered
                            </td>
                            <td>
                                @member.DateRegistered
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gender
                            </td>
                            <td>
                                @member.Gender
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Home Parish
                            </td>
                            <td>
                                @member.HomeParish
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Town
                            </td>
                            <td>
                                @member.Town
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Nationality
                            </td>
                            <td>
                                @member.Nationality
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Email Address
                            </td>
                            <td>
                                @member.EmailAddress
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Employment Address
                            </td>
                            <td>
                                @member.EmpolymentAddress
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Marital Status
                            </td>
                            <td>
                                @member.MaritalStatus
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Next Of Kin
                            </td>
                            <td>
                                @member.NextOfKin
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Next Of Kin Marital Status
                            </td>
                            <td>
                                @member.NextOfKinMaritalStatus
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Next Of Kin Address
                            </td>
                            <td>
                                @member.NextOfKinAddress
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Spouse Name
                            </td>
                            <td>
                                @member.SpouseName
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Spouse First Phone
                            </td>
                            <td>
                                @member.SpousePhone1
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Spouse First Phone
                            </td>
                            <td>
                                @member.SpousePhone2
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Size Of Male in Family
                            </td>
                            <td>
                                @member.SizeOfFamilyMale
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Size Of Female in Family
                            </td>
                            <td>
                                @member.SizeOfFamilyFemale
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Statutory Group
                            </td>
                            <td>
                                @member.StatutoryGroup
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Station
                            </td>
                            <td>
                                @member.Station
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Family Members
                            </td>
                            <td>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>Relationship</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var familiy in member.FamilyMembers)
                                    {
                                        <tr>
                                            <td>@familiy.Id</td>
                                            <td>@familiy.Name</td>
                                            <td>@familiy.Gender</td>
                                            <td>@familiy.Relationship</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Member's Society
                            </td>
                            <td>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Society</th>
                                            <th>Position</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var society in member.MembersSociety)
                                    {
                                        <tr>
                                            <td>@society.Id</td>
                                            <td>@society.Society</td>
                                            <td>@society.Position</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-2" style="margin-left: 10px">
        <h4>
            More Actions
        </h4>
        <div class="">
            <div class="badge">
                <input type="button" value="Update Family Members" class="btn btn-info" data-toggle="modal" data-target="#familyModal" />
            </div>
            <div class="badge">
                <input type="button" value="Update Member's Society" class="btn btn-warning" data-toggle="modal" data-target="#societyModal" />
            </div>
        </div>
    </div>
</div>

<!--Update society Modal -->
<div class="modal" id="societyModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add member's society</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                @using (Html.BeginForm("UpdateSociety", "Members", FormMethod.Post, new { @role = "form", @class = "form-horizontal" }))
                {
                    <input type="hidden" name="MemberId" value="@member.Id" />

                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right" for="Society">Society</label>
                        <div class="col-md-8">
                            @Html.DropDownList("Society", new SelectList(ViewUtility.GetSocieties(), "Id", "Name", null), "Select Society", new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right" for="Position">Position</label>
                        <div class="col-md-8">
                            @Html.DropDownList("Position", new SelectList(ViewUtility.GetPositions(), "Id", "Name", null), "Select Position", new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-4 text-right" for="AppointDate">Date Of Position</label>
                        <div class="col-md-8">
                            <input type="date" class="form-control" name="AppointDate" id="AppointDate" placeholder="Enter Date of assumption of office" />
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="Update Record" class="btn btn-success" />
                    </div>
                }
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                @*<button type="button" class="btn btn-danger">Update</button>*@
            </div>

        </div>
    </div>
</div>
<!--Update Member's family Modal -->
<div class="modal" id="familyModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add family member</h4>
                    <button type = "button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
                <div class="modal-body">
                    @using (Html.BeginForm("UpdateFamily", "Members", FormMethod.Post, new { @role = "form", @class = "form-horizontal" }))
                    {
                        <input type="hidden" name="MemberId" value="@member.Id" />
                        <div class="form-group row">
                            <label class="control-label col-md-4 text-right" for="Name">Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="Name" id="Name" placeholder="Enter Name" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-4 text-right" for="DateOfBirth">Date of Birth</label>
                            <div class="col-md-8">
                                <input type="date" class="form-control" name="DateOfBirth" id="DateOfBirth" placeholder="Enter Date of birth" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-4 text-right" for="Gender">Gender</label>
                            <div class="col-md-8">
                                @Html.DropDownList("Gender", new SelectList(ViewUtility.GetGender(), "Id", "Name", null), "Select Gender", new { @class = "form-control", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-4 text-right" for="Relationship">Relationship</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="Relationship" id="Relationship" placeholder="Enter Relationship" required />
                            </div>
                        </div>
                        <div>
                            <input type="submit" value="Update Record" class="btn btn-success" />
                        </div>
                    }
                </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                @*<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>*@
            </div>

        </div>
    </div>
</div>

@section styles{
    <style>
        #st_francis_logo {
            float: left;
            margin: 5px;
        }

        #header_center {
            text-align: center;
            padding: 5px;
        }

        #member_passport {
            float: right;
        }

        #form_body tr {
            border-bottom: black 2px solid;
        }

        #form_body tr td table tr {
            border: 1px solid #dee2e6;
        }

        .frame {
            border: burlywood 30px double;
            border-radius: 20px;
            padding: 10px;
        }
    </style>
}

@section scripts{

    <script>
        $(document).ready(function () {

        });
    </script>
}