@using StFrancisChurch.Utility
<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item @Html.IsSelected(action:"Index",controller:"Aamin")">
        <a class="nav-link" href="@Href("~/Admin")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item dropdown @Html.IsSelectedActions(controller:"Members", actions: new [] {"Index", "Registering"})">
        <a class="nav-link dropdown-toggle" href="#" id="membersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Parish Members</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="membersDropdown">
            <a class="dropdown-item" href="@Href("~/Members")">Members</a>
            <a class="dropdown-item" href="@Href("~/Members/Registering")">Registering</a>
            <a class="dropdown-item" href="#">Denied</a>
            <a class="dropdown-item" href="#">Deceased</a>
        </div>
    </li>
    <li class="nav-item dropdown @Html.IsSelectedActions(controller:"Sacrament", actions: new [] {"Index","Baptism","Communion","Confirmation","Matrimony"})">
        <a class="nav-link dropdown-toggle" id="sacramentDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Sacrament</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="sacramentDropdown">
            <a class="dropdown-item" href="@Url.Action("Index", "Sacrament")">Summary</a>
            <a class="dropdown-item" href="@Url.Action("Baptism", "Sacrament")">Baptism</a>
            <a class="dropdown-item" href="@Url.Action("Communion", "Sacrament")">Communion</a>
            <a class="dropdown-item" href="@Url.Action("Confirmation", "Sacrament")">Confirmation</a>
            <a class="dropdown-item" href="@Url.Action("Matrimony", "Sacrament")">Matrimony</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Station")">
            <i class="fas fa-fw fa-home"></i>
            <span>Station</span>
        </a>
    </li>
    <li class="nav-item dropdown @Html.IsSelectedActions(controller:"Society", actions: new [] {"Index", "Positions"})">
        <a class="nav-link dropdown-toggle" href="#" id="societiesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-users"></i>
            <span>Societies</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="societiesDropdown">
            <a class="dropdown-item" href="@Href("~/Society")">Societies</a>
            <a class="dropdown-item" href="@Href("~/Society/Position")">Position</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Reflection")">
            <i class="fas fa-fw fa-book"></i>
            <span>Reflection</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Event")">
            <i class="fas fa-fw fa-calendar-alt"></i>
            <span>Events</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-book-open"></i>
            <span>Daily Verse</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Register", "Account")">
            <i class="fas fa-fw fa-user-plus"></i>
            <span>Register New User</span>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="configDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Configuration</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="configDropdown">
            <h6 class="dropdown-header">System Config:</h6>
            <a class="dropdown-item" href="">Roles</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Database Config:</h6>
            <a class="dropdown-item" href="">Back Up</a>
            <a class="dropdown-item" href="">Restore</a>
        </div>
    </li>
    @*<li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Tables</span>
            </a>
        </li>*@
</ul>