@using StFrancisChurch.Models.Utility
@using StFrancisChurch.Utility
@{
    var stations = ViewUtility.GetStationDropDown();
}
<ul>
    <li class="@Html.IsSelected(action:"Index",controller:"Home")"><a href="/">Parish</a></li>
    <li class="has-dropdown">
        <a href="#">Stations</a>
        <ul class="dropdown">
            @foreach (var station in stations)
            {
                <li><a href="@Url.Action("Station", "Home", new {id = station.Id})">@station.Name</a></li>
            }
        </ul>
    </li>
    <li class="has-dropdown @Html.IsSelectedActions(actions:new[] {"About","Contact","Anouncement"},controller:"Home")">
        <a href="#">Information</a>
        <ul class="dropdown">
            <li><a href="@Url.Action("About", "Home" )">About</a></li>
            <li><a href="@Url.Action("Contact", "Home" )">Contact</a></li>
            <li><a href="#">Anouncement</a></li>
            <li><a href="@Url.Action("Schedule", "Home" )">Schedules</a></li>
        </ul>
    </li>
    <li class="has-dropdown @Html.IsSelectedActions(actions:new[] {"Reflections","Events","News","Quotes"},controller:"Home")">
        <a href="#">Activities</a>
        <ul class="dropdown">
            <li><a href="@Url.Action("Reflections", "Home" )">Reflections</a></li>
            <li><a href="@Url.Action("Events", "Home" )">Events</a></li>
            <li><a href="@Url.Action("News", "Home" )">News</a></li>
            @*<li><a href="#">Quotes</a></li>*@
        </ul>
    </li>
    <li class="@Html.IsSelected(action: "MemberRegistration", controller: "Home")">
        <a href="@Url.Action("MemberRegistration", "Home")">Membership</a>
    </li>
    <li><a href="@Url.Action("Donations", "Home" )" class="donate">Donate</a></li>
</ul>